<html ng-app="clyncApp">
<head>
    <title>ClynC</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6868869748581594",
        enable_page_level_ads: true
      });
    </script>


    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="clync.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="clync.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body ng-controller="ClyncController">

<div class="modal {{modal.states.rules}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">welcome</p>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>
                    hi there. welcome to ClynC.
                </p>
                <p>
                    a ClynC is a (mostly) synchronized click.
                    when you click your red tile, your timer will start counting down.
                    if another user clicks their red tile while your timer is running, you get points!
                </p>
                <p>
                    that's pretty much all there is to it.
                    enjoy!
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a
                class="button is-success"
                ng-click="modal.dismissRules()"
            >
                got it
            </a>
        </footer>
    </div>
</div>

<div class="modal {{modal.states.user}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">introduce yourself!</p>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                </div>
                <div class="column is-3">
                    <div class="field">
                        <p class="control">
                            <input
                                class="input is-large"
                                type="text"
                                ng-model="user.name"
                                handle-enter="modal.dismissUser()"
                                maxlength="8"
                                onFocus="this.select()"
                                autofocus
                            >
                        </p>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a
                class="button is-success"
                ng-click="modal.dismissUser()"
            >
                go
            </a>
            <a
                class="button is-info"
                ng-click="modal.activateRules()"
            >
                help
            </a>
        </footer>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div
                    class="tile is-child is-info notification"
                    ng-click="modal.activateRules()"
                    style="cursor:pointer"
                >
                    <div class="content">
                        <div class="title">
                            <span class="icon">
                                <i class="fa fa-hand-pointer-o"></i>
                            </span>
                            ClynC.me
                        </div>
                    </div>
                </div>
                <div class="tile is-child is-primary notification">
                    <div class="content">
                        <div class="subtitle">
                            <span class="icon">
                                <i class="fa fa-trophy"></i>
                            </span>
                            Leaderboard
                        </div>
                        <div class="subtitle">
                            <div ng-repeat="leader in leaderboard.leaders">
                                {{leader.name}} - {{leader.score}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-child notification">
                    <div class="content">
                        <div class="subtitle">
                            ad here
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="column is-6 has-text-centered">
        <div class="box">
            <h1 class="title">
                {{user.score}}
            </h1>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent" ng-click="timer.handleClick()">
                <div class="tile is-child notification is-danger" style="cursor:pointer">
                    <div class="title">
                        <div class="title">
                        </div>
                        <span class="icon">
                            <i class="fa fa-hand-pointer-o"></i>
                        </span>
                        <div class="title">
                        </div>
                        <div class="title">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <h1 class="title">


                <span class="icon">
                    <i class="fa fa-hourglass-o"></i>
                </span>
                {{timer.timeLeft}}
            </h1>
        </div>
    </div>
    <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child is-info notification">
                    <div class="content">
                        <div class="title">
                            <span class="icon">
                                <i class="fa fa-user-o"></i>
                            </span>
                            <span>
                                {{presence.occupancy}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tile is-child notification is-primary">
                    <div class="content">
                        <div class="subtitle">
                            {{user.name}}
                        </div>
                        <div class="content">
                            <div class="card" ng-repeat="clync in user.clyncs">
                                <div class="card-content">
                                    <p class="subtitle">
                                        ClynC
                                    </p>
                                </div>

                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        {{clync.points}}
                                    </p>
                                    <p class="card-footer-item">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        {{clync.name}}
                                    </p>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-child notification">
                    <div class="content">
                        <div class="subtitle">
                            ad here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="columns">
        <div class="column">
            <div class="subtitle">
                <a href="mailto:info@clync.me">
                    <span class="icon">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    info@clync.me
                </a>
            </div>
            <div class="subtitle">
                <a
                    href="https://www.github.com/joncass/clync"
                    target="_blank"
                >
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                    source
                </a>
            </div>
            <div class="subtitle">
                <span class="icon">
                    <i class="fa fa-copyright"></i>
                </span>
                2017 ClynC.me
            </div>
        </div>
        <div class="column has-text-centered">
                <div class="subtitle">
                    invite your friends!
                </div>
                <div>
                    <a
                        class="button is-info"
                        href="https://www.facebook.com/sharer/sharer.php?u=clync.me"
                        target="_blank"
                    >
                        <span class="icon">
                            <i class="fa fa-facebook-square"></i>
                        </span>
                    </a>
                    <a
                        class="button is-info"
                        href="https://twitter.com/intent/tweet?text=Join%20me%20at%20ClynC%2Eme%21"
                        target="_blank"
                    >
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </div>
        </div>
        <div class="column has-text-right">
            <div class="subtitle">
                powered by angular, bulma, pubnub
            </div>
        </div>
    </div>
</footer>

</body>
</html>
